<button id="sound-button"></button>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var button = document.getElementById("sound-button");
        var isSoundOn = false;
        var audioContext;
        var oscillator;

        button.addEventListener("click", function () {
            isSoundOn = !isSoundOn;

            if (isSoundOn) {
                button.style.backgroundColor = "black";
                audioContext = new (window.AudioContext || window.webkitAudioContext)();
                oscillator = audioContext.createOscillator();
                var filter = audioContext.createBiquadFilter();
                oscillator.connect(filter);
                filter.connect(audioContext.destination);

                oscillator.type = 'sine'; // тип осциллятора
                oscillator.frequency.setValueAtTime({% include indexmod.html %}, audioContext.currentTime); // частота осциллятора
                oscillator.start();

                filter.type = 'lowpass'; // тип фильтра
                filter.frequency.setValueAtTime({% include indexmod.html %}, audioContext.currentTime); // начальная частота фильтра
                filter.Q.setValueAtTime({% include indexmod.html %}, audioContext.currentTime); // Q-фактор для остроты фильтра
            } else {
                button.style.backgroundColor = "grey";
                if (audioContext) {
                    audioContext.close();
                }
            }
        });
    });
</script>
