---
---


body {
    max-width: 100%;
    margin: 3% 3% 0 3%;
    padding: 0;
    background: black;
}

p, h1, h2, h3, h4, h5, h6, li, ul {
    font-family: 'Monaco', sans-serif;
    font-size: 1.3em; /* Исправлена ошибка с разделителем размера шрифта */
    line-height: 1.5;
    font-weight: 400;
    color: white;
}

h1 {
    font-size: 1.7em;
}

a.one:link, a.one:visited, a.one:hover,
a:link, a:visited, a:hover, a:active {
    color: #4e80d8;
    text-decoration: none;
    font-weight: 500;
}

a.one:hover,
a:hover {
    color: green;
}
