---
---

html {
    height: 100%;
    background-color: black;
}

body {
    margin: 5%;
    padding: 0;
    background: black;
}

p, h1, h2, h3, h4, h5, h6, li, ul {
    font-family: 'Monaco', serif;
    font-size: 1.6em; /* Заменена запятая на точку */
    line-height: 1.8em;
    font-weight: 500;
    color: white;
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 1.7em;
    font-weight: 900;
    line-height: 1em;
}

figure {
    width: 30%; /* Изменена ширина на проценты */
    text-align: center;
    margin: 10px; /* Добавлены отступы */
}

a {
    color: #4e80d8;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

button {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 10s;
}
