---
---

@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

body {
    max-width: 100%; /* Изменено значение на 100% для адаптивности */
    margin: 5% 5% 0 5%; /* Изменены значения отступов для лучшего выравнивания */
    padding: 0;
    background: black;
}

p, h1, h2, h3, h4, h5, h6, li, ul {
    font-family: 'Monaco', sans-serif; /* Заменен шрифт для общего текста на sans-serif */
    font-size: 1.2em; /* Уменьшен размер шрифта для лучшей читаемости */
    line-height: 1.5; /* Уменьшен интервал между строками */
    font-weight: 400; /* Уменьшена жирность текста для лучшей читаемости */
    color: white;
}

a.one:link, a.one:visited, a.one:hover,
a:link, a:visited, a:hover, a:active {
    color: #4e80d8;
    text-decoration: none;
    font-weight: 500;
}

a.one:hover,
a:hover {
    color: green; /* Изменен цвет ссылок при наведении */
}
